<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>dbId</key>
    <integer>1</integer>
    <key>typeName</key>
    <string>house</string>
    <key>name</key>
    <string>Small House</string>
    <key>description</key>
    <string>Lorum ipsom dolor dit amit consecutor Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit </string>
    <key>image</key>
    <string>h02</string>
	<key>abilities</key>
	<array>
		<string>Holds 25 items</string>
		<string>Sees lots 250 km away</string>
	</array>
    <key>cost</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>6</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>2</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
    <key>input</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>3</integer>
        <key>qty</key>
        <integer>123</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>8</integer>
        <key>qty</key>
        <integer>43</integer>
      </dict>
    </array>
    <key>output</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>71</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>6</integer>
        <key>qty</key>
        <integer>7</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>2</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>dbId</key>
    <integer>2</integer>
    <key>typeName</key>
    <string>farm</string>
    <key>name</key>
    <string>Small Farm</string>
    <key>description</key>
    <string>Lorum ipsom dolor dit amit consecutor Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit </string>
    <key>image</key>
    <string>f02</string>
	<key>abilities</key>
	<array>
		<string>Holds 5 items</string>
	</array>
    <key>cost</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
    <key>input</key>
    <array>
    </array>
    <key>output</key>
    <array>
    </array>
  </dict>
  <dict>
    <key>dbId</key>
    <integer>3</integer>
    <key>typeName</key>
    <string>factory</string>
    <key>name</key>
    <string>Small Orange Juice Factory</string>
    <key>description</key>
    <string>Lorum ipsom dolor dit amit consecutor Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit </string>
    <key>image</key>
    <string>fh02</string>
	<key>abilities</key>
	<array>
		<string>Holds 20 items</string>
	</array>
    <key>cost</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>6</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>3</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
    <key>input</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>3</integer>
        <key>qty</key>
        <integer>123</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>8</integer>
        <key>qty</key>
        <integer>43</integer>
      </dict>
    </array>
    <key>output</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>71</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>6</integer>
        <key>qty</key>
        <integer>7</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>2</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>dbId</key>
    <integer>4</integer>
    <key>typeName</key>
    <string>store</string>
    <key>name</key>
    <string>Large Store</string>
    <key>description</key>
    <string>Lorum ipsom dolor dit amit consecutor Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit Lorum ipsom dolor dit amit </string>
    <key>image</key>
    <string>s02</string>
	<key>abilities</key>
	<array>
		<string>Holds 25 items</string>
		<string>Accomidates 100 item offerings</string>
	</array>
    <key>cost</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>6</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>2</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
    <key>input</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>3</integer>
        <key>qty</key>
        <integer>123</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>8</integer>
        <key>qty</key>
        <integer>43</integer>
      </dict>
    </array>
    <key>output</key>
    <array>
      <dict>
        <key>typeId</key>
        <integer>1</integer>
        <key>qty</key>
        <integer>71</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>6</integer>
        <key>qty</key>
        <integer>7</integer>
      </dict>
      <dict>
        <key>typeId</key>
        <integer>2</integer>
        <key>qty</key>
        <integer>12</integer>
      </dict>
    </array>
  </dict>
  </array>
</plist>
