<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbId</key>
	<integer>3969349320</integer>
	<key>ci</key>
	<integer>1542</integer>
	<key>cj</key>
	<integer>4412</integer>
	<key>name</key>
	<string>Lot Named Foo</string>
	<key>ownerId</key>
	<integer>1</integer>
	<key>ownerName</key>
	<string>PseudoPeach</string>
	<key>devTypeId</key>
	<integer>1</integer>
	<key>devTypeName</key>
	<string>Large House</string>
	<key>itemLimit</key>
	<integer>15</integer>
	<key>rentBid</key>
	<integer>28</integer>
	<key>rentPrice</key>
	<integer>12</integer>
	<key>rentDue</key>
	<date>2010-12-15T20:51:44Z</date>
	<key>itemsPresent</key>
	<array>
		<dict>
			<key>typeId</key>
			<integer>1</integer>
			<key>qty</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>typeId</key>
			<integer>2</integer>
			<key>qty</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>typeId</key>
			<integer>3</integer>
			<key>qty</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>typeId</key>
			<integer>8</integer>
			<key>qty</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>offers</key>
	<array>
		<dict>
			<key>dbId</key>
			<integer>2</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>1</integer>
				<key>qty</key>
				<integer>6</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>3</integer>
				<key>qty</key>
				<integer>7</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>2</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
		<dict>
			<key>dbId</key>
			<integer>3</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>5</integer>
				<key>qty</key>
				<integer>12</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>1</integer>
				<key>qty</key>
				<integer>76</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>5</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
		<dict>
			<key>dbId</key>
			<integer>3</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>13</integer>
				<key>qty</key>
				<integer>6</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>3</integer>
				<key>qty</key>
				<integer>7</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>2</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
		<dict>
			<key>dbId</key>
			<integer>4</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>14</integer>
				<key>qty</key>
				<integer>12</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>1</integer>
				<key>qty</key>
				<integer>76</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>5</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
		<dict>
			<key>dbId</key>
			<integer>5</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>15</integer>
				<key>qty</key>
				<integer>6</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>3</integer>
				<key>qty</key>
				<integer>7</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>2</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
		<dict>
			<key>dbId</key>
			<integer>6</integer>
			<key>haveItem</key>
			<dict>
				<key>typeId</key>
				<integer>16</integer>
				<key>qty</key>
				<integer>12</integer>
			</dict>
			<key>wantItem</key>
			<dict>
				<key>typeId</key>
				<integer>1</integer>
				<key>qty</key>
				<integer>76</integer>
			</dict>
			<key>unfulfilled</key>
			<integer>5</integer>
			<key>effective</key>
			<date>2010-05-27T00:00:00Z</date>
			<key>expires</key>
			<date>2010-12-25T00:00:00Z</date>
		</dict>
	</array>
	<key>lotHistory</key>
	<array>
		<dict>
			<key>description</key>
			<string>Produced 6 pear</string>
			<key>timestamp</key>
			<date>2010-12-05T23:58:13Z</date>
			<key>itemTypeId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>Produced 2 pear</string>
			<key>timestamp</key>
			<date>2010-12-04T23:58:13Z</date>
			<key>itemTypeId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>Rent paid</string>
			<key>timestamp</key>
			<date>2010-12-03T23:58:13Z</date>
		</dict>
	</array>
	<key>dfdf</key>
	<real>3.453</real>
</dict>
</plist>
